<div data-controller="personal" class='grid grid-rows-1 grid-flow-col gap-2'>
  <!-- Modal toggle -->
  <div class='flex justify-between'>
    <div class='heading'>
      <h3 class='text-3xl font-extrabold dark:text-white'>Create Personal</h3>
    </div>
    <div class='button'>
      <%= button_tag "Personal", data: { modal_target: "authentication-modal", modal_toggle: "authentication-modal" }, class: "block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", type: "button" %>
      <%= render partial: 'shared/modal' %>
    </div>
  </div>

  <div class='flex justify-between'>
    <div class='heading'>
      <h3 class='text-3xl font-extrabold dark:text-white'>Create Employment</h3>
    </div>
    <div class='button'>
      <%= button_tag "Employment", data: { modal_target: "employment-modal", modal_toggle: "employment-modal" }, class: "block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", type: "button" %>
      <%= render partial: 'shared/modal' %>
    </div>
  </div>
  <h2 class="m-2 text-lg font-semibold text-gray-900 dark:text-white">Personal List</h2>
  <ol class="max-w-md space-y-1 text-gray-500 dark:text-gray-400">
    <% @personals.each do |personal|%>
      <li>
        <span class="font-semibold text-gray-900 dark:text-white"><%= personal.email%></span>
      </li>
      <hr>
    <%end%>
  </ol>
</div>
